fastapi
uvicorn[standard]
python-dotenv
chromadb
langchain
langchain-text-splitters
langchain-ollama
sentence-transformers
transformers>=4.44.0
accelerate
Pillow
google-genai
openai
pymupdf
pdfplumber
python-multipart
pydantic-settings
httpx
json-repair
